// Associations.module.scss

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-button {
  padding: 10px 20px;
  background-color: #f0f0f0; /* Светло серый цвет фона */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #333; /* Цвет текста */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавная анимация перехода */
}

.category-button:hover {
  background-color: #e0e0e0; /* Темнее серый цвет при наведении */
  color: #555; /* Темнее цвет текста при наведении */
}
