@import '../../variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 63px; 
  background-color: var(--theme-default-all-background);
  border-top: 2px solid var(--theme-default-all-text);
  display: flex;

  .footer__wrapper{
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
  
  .footer-add{
    width: 50px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 41%;
    top: -35px;
    z-index: 2;
    background-color: var(--theme-default-all-background);
    border: none;
    cursor: pointer;
    border: 1.75px solid var(--theme-default-all-text);

    svg{
      width: 100%;
      height: auto;   
     fill: var(--theme-default-all-text);    
    }
  }

  .footer-list{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .footer-item{
    width: 69px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      width: 33px;
      height: 33px;
      fill: var(--theme-default-all-text);
    }
  }

  .footer-icon{
    width: 32px;
    height: 32px;
    
  }
}