.add-dreams-container {
  max-width: 340px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 15px;

      label {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        p{
          padding-bottom: 5px;
          text-align: center;
          font-size: 18px;
        }
      }

      input[type="text"],
      textarea,
      select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
      }

      select {
        appearance: none;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }

    .category-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .category-button {
        background: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        transition: opacity 0.3s;

        &.selected {
          opacity: 1;
        }

        &:not(.selected) {
          opacity: 0.5;
        }
      }

      p {
        margin: 0 10px;
        color: #666;
      }
    }

    .submit-button, .reset-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #888; 
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background-color: #555; 
      }
    }

    .back-button {
      margin-top: 10px;
      background-color: #888; 
    }
  }
}
