.dreams-memories {
    max-width: 340px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 10px;
  }

  .dreams-memories__title{
    font-size: 33px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
  }
  .list-title{
    margin-bottom: 25px;
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    color: var(--theme-default-all-text);
    line-height: 33px;
  }

  .back-button{
    display: block;
    width: 225px;
    font-size: 21px;
    padding: 7px 12px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: var( --theme-default-all-background);
    border: 2px solid var(--theme-default-all-icon);
    color: var(--theme-default-all-text);
    border-radius: 8px;
  }