.dream {
  width: 340px;
  min-height: 240px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 35px;
  border: 2px solid var(--theme-default-all-icon);
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: var(--theme-default-all-background);
  transition: background-color 0.3s ease;


  .dream-content {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;   /* Перенос длинных слов */
    overflow-wrap: break-word; /* Перенос длинных слов */
    

    h3{
      font-size: 24px;
      padding-left: 12px;
      padding-bottom: 25px;
      font-weight: 400;
      color: var(--theme-default-all-text);
    }

    p{
      font-size: 18px;
      line-height: 21px;
      padding-left: 12px;
      padding-bottom: 12px;
      color: var(--theme-default-all-text);
    }
 
  }

  button{
    margin-top: 12px;
    padding: 7px;
    font-size: 18px;
    font-weight: 200;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: var(--theme-default-all-text);

    &:hover{
      border-bottom: 1px solid var(--theme-default-all-icon);
      opacity: 0.5;
    }
  }

  .dream-function{

    p{
      letter-spacing: 0.75px;
      padding: 12px;
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      color: var(--theme-default-all-text);
    }
  }
}
