.search-label__wrapper{
  position: relative;

  .search-label__help{
    position: absolute;
    bottom: 10px;
    left: 75px;
    font-size: 14px;
  }
}

.searches {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .search-header-form {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .search-label {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
  
    img {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 12px;
      bottom: 16px;
    }
  
    .inputHint {
      bottom: -5px;
      position: absolute;
      font-size: 12px;
      text-align: center;
    }
  }
  
  .searchInput {
    width: 212px;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
    border-bottom: 1.5px solid black;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  
  .search-submit {
    width: 100%;
    margin: 10px auto;
    border: 1.95px solid black;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
  
    &:hover {
      opacity: 0.5;
    }
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  
  /* ------------------------ SearchResult -------------------*/

.searchResults {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchResult {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchResult:hover {
  background-color: #f0f0f0;
}

.searchResult p {
  margin: 5px 0;
}

.searchResult p:first-child {
  font-weight: bold;
}

