@import '../../variables.scss';

.searchResults__wrapper {
h4 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: 300;
    color: var(--theme-default-all-text);
  }
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.searchResult {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: 2px solid var(--theme-default-all-icon);
  background-color: var(--theme-default-all-background);

  h5 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    color: var(--theme-default-all-text);
    text-decoration: none;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
    color: var(--theme-default-all-text);
  }

  &:hover {
    background-color: rgba(225, 225, 225, 0.6);
    border: 2px solid var(--theme-default-all-icon);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: 25px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  background-color: var(--theme-default-all-background);

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--theme-default-all-text);
  }

  p {
    font-size: 18px;
    color: var(--theme-default-all-text);
  }
}
