.layout__content {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  height: 33px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  z-index: 2;
}

.layout__categories {
  display: flex;
  align-items: center;

  .layout__modal{
    display: none;
  }

  .categoryToggle-btn {
    padding-left: 25px;
    padding-right: 25px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .layout__categories-target{
    padding-left: 50px;
    padding-right: 25px;
  
  }

}

.layout__toggle {
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;

  .langToggle-btn,
  .colorToggle-btn {
    svg {
      width: 16px;
      height: 16px;
    }
  }

}

