.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 69px; 
  background-color: #ccc; 
  display: flex;

  .footer__wrapper{
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
  .footer-add{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2.5px solid black;
    position: absolute;
    left: 44%;
    top: -25px;
    z-index: 2;

    svg{
      width: 100%;
      height: auto;       
    }
  }

  .footer-list{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .footer-item{
    width: 69px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icon{
    width: 32px;
    height: 32px;
  }
}