.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 69px; 
  
  display: flex;

  .footer__wrapper{
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
  .footer-add{
    width: 50px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 41%;
    top: -35px;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg{
      width: 100%;
      height: auto;       
    }
  }

  .footer-list{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .footer-item{
    width: 69px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icon{
    width: 32px;
    height: 32px;
  }
}