@import '../../variables.module.scss';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-y: 5px;

  img {
    padding-top: 33px;
      width: 280px;
      height: 330px;   
      display: block;
      margin: 0 auto; 
      font-size: 12px;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 33px;
    font-size: 25px;
    font-weight: 500;
    color: var(--color-dark-gray);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    .form-group {
      padding-bottom: 33px;
      width: 100%;

      .label  p{
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 18px;
        color: var(--color-dark-gray);
        margin-bottom: 5px;
      }

      .input {
        width: 280px;
        padding: 10px 15px;
        font-size: 16px;
        border: 2px solid var(--color-dark-gray);
        border-radius: 5px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: var(--color-light-gray);
          outline: none;
        }
      }
    }

    .submit-button {
      padding: 10px 20px;
      margin-top: 25px;
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: var(--color-light-white);
      border: 2px solid var(--color-light-gray);
      transition: background-color 0.33s ease;

      &:hover {
        background-color: var(--color-white);
        border: 2px solid var(--color-dark-gray);
      }
    }
  }

  .toggle-button {
    margin-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--color-dark-gray);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;

   

    &:hover {
      color: var(--color-black);
    }
  }
}
