:root {

    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-red: rgba(255, 0, 0, 1);
  
    /* THEMES */

    --theme-light-all-background: var(--color-white);
    --theme-dark-all-background: var(--color-black);
    --theme-mordor-all-background: var(--color-black);
    --theme-default-all-background: var(--theme-light-all-background);

    --theme-light-all-icon: var(--color-black);
    --theme-dark-all-icon: var(--color-white);
    --theme-mordor-all-icon: var(--color-red);
    --theme-default-all-icon: var(--theme-light-all-icon);

    --theme-light-all-text: var(--color-black);
    --theme-dark-all-text: var(--color-white);
    --theme-mordor-all-text: var(--color-white);
    --theme-default-all-text: var(--theme-light-all-text);
    
}
  