@import '../../variables.module.scss';

.category {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center; 

  .category-button {
    width: 125px;
    padding: 10px 20px;
    border: none;
    background-color: var(--theme-light-background);
    color: var(--theme-light-text);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include mobile {
      font-size: 12px;
    }

    @include desktop {
      padding: 12px 24px;
      font-size: 16px;
    }

    &:hover {
      background-color: var(--color-dark-gray);
      color: var(--theme-light-background);
    }
  }
}
