@import '../../variables.scss';

.visualPage-wrapper{
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 100vh;
  background-color: var(--theme-default-all-background);

  h1{
    text-align: center;
    padding-bottom: 25px;
    font-size: 35px;
    font-weight: 350;
  }
}

 
