
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .graphContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 50px;    
  }
  